.text-center{
    text-align: center;
    color: #958e81;
    /* background-color: gray; */
    font-family: Arial, Helvetica, sans-serif;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}